/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Japanese', sans-serif;
}

/* ==========================================================================
  Layout
  ========================================================================== */
/* Header
----------------------------------------------------------------- */
.l-header {
  width: 100%;
}

.l-header__inner {
  align-items: center;
  background-color: #0b3661;
  display: flex;
  height: 154px;
  justify-content: space-between;
  width: 100%;
}

.l-header__logo {
  color: #fff;
  font: normal normal 900 70px/70px Cooper Std;
  margin-left: 63px;
}

.l-header__nav {
  margin-right: 52px;
}

.l-header__main {
  display: flex;
}

.l-header__main-item {
  font: normal normal 900 35px/35px Cooper Std;
}

.l-header__main-item a {
  text-decoration: none;
  color: #fff;
}

.l-header__main-item:not(:last-child) {
  margin-right: 50px;
}

/* Main
----------------------------------------------------------------- */
/* ==========================================================================
  Object
  ========================================================================== */
/* Component
  ----------------------------------------------------------------- */
/**
  * Button
  *
  * Blah Blah Blah
  */
/**
* Media
*/
/* Project
  ----------------------------------------------------------------- */
/**
* Articles
*/
/* Utility
  ----------------------------------------------------------------- */
/**
* Clearfix
*/
/**
  * Display
*/
/**
  * Margin
*/
