/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  color: #0b3661;
}

/* ==========================================================================
Foundation
========================================================================== */
@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: url(/fonts/GenJyuuGothic-Medium.ttf);
}

/* ==========================================================================
  Layout
  ========================================================================== */
/* Header
----------------------------------------------------------------- */
.l-header {
  width: 100%;
}

.l-header__inner {
  align-items: center;
  background-color: #0b3661;
  display: flex;
  height: 154px;
  justify-content: space-between;
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .l-header__inner {
    height: 100px;
  }
}

@media print, screen and (max-width: 599px) {
  .l-header__inner {
    height: 63px;
  }
}

.l-header__logo {
  color: #fff;
  font: normal normal 900 70px/70px 'Cooper Std', sans-serif;
  margin-left: 3.2%;
}

@media print, screen and (max-width: 1730px) {
  .l-header__logo {
    font-size: 55px;
    line-height: 55px;
  }
}

@media print, screen and (max-width: 1350px) {
  .l-header__logo {
    font-size: 45px;
    line-height: 45px;
  }
}

@media print, screen and (max-width: 1024px) {
  .l-header__logo {
    font-size: 35px;
    line-height: 35px;
  }
}

@media print, screen and (max-width: 599px) {
  .l-header__logo {
    font-size: 25px;
    line-height: 25px;
  }
}

.l-header__nav {
  margin-right: 52px;
}

@media print, screen and (max-width: 1350px) {
  .l-header__nav {
    margin-right: 40px;
  }
}

@media print, screen and (max-width: 1024px) {
  .l-header__nav {
    display: none;
  }
}

.l-header__main {
  display: flex;
}

.l-header__main-item {
  font: normal normal 900 35px/35px Cooper Std;
}

.l-header__main-item a {
  text-decoration: none;
  color: #fff;
}

@media print, screen and (max-width: 1730px) {
  .l-header__main-item {
    font-size: 25px;
    line-height: 25px;
  }
}

@media print, screen and (max-width: 1350px) {
  .l-header__main-item {
    font-size: 20px;
    line-height: 20px;
  }
}

.l-header__main-item:not(:last-child) {
  margin-right: 50px;
}

@media print, screen and (max-width: 1350px) {
  .l-header__main-item:not(:last-child) {
    margin-right: 25px;
  }
}

.l-header_button {
  height: 23px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  margin-right: 40px;
  position: relative;
  transition: all .5s;
  width: 50px;
}

@media print, screen and (max-width: 1024px) {
  .l-header_button {
    display: inline-block;
  }
}

@media print, screen and (max-width: 599px) {
  .l-header_button {
    margin-right: 20px;
    width: 25px;
  }
}

.l-header_button span {
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  transition: all .5s;
  width: 100%;
}

@media print, screen and (max-width: 599px) {
  .l-header_button span {
    border-radius: 2px;
    height: 2px;
  }
}

.l-header_button span:nth-of-type(2) {
  top: 10px;
}

.l-header_button span:nth-of-type(3) {
  bottom: 0;
}

.l-footer {
  width: 100%;
}

.l-footer__inner {
  background-color: #0b3661;
  height: 216px;
  position: relative;
}

@media print, screen and (max-width: 1024px) {
  .l-footer__inner {
    height: 150px;
  }
}

@media print, screen and (max-width: 599px) {
  .l-footer__inner {
    height: 303px;
  }
}

.l-footer__nav {
  display: flex;
  justify-content: center;
}

.l-footer__list {
  color: #fff;
  display: flex;
  list-style: none;
  margin-top: 97px;
}

@media print, screen and (max-width: 1024px) {
  .l-footer__list {
    margin-top: 68px;
  }
}

@media print, screen and (max-width: 599px) {
  .l-footer__list {
    align-items: center;
    flex-direction: column;
    margin-top: 21px;
  }
}

.l-footer__list-item {
  font: normal normal 900 25px/25px Cooper Std;
  margin: 0 36px;
}

@media print, screen and (max-width: 1024px) {
  .l-footer__list-item {
    font-size: 20px;
    line-height: 20px;
    margin: 0 13px;
  }
}

@media print, screen and (max-width: 599px) {
  .l-footer__list-item {
    margin-bottom: 29px;
  }
}

.l-footer__copyright {
  color: #fff;
  font: normal normal 900 25px/25px Cooper Std;
  position: absolute;
  right: 45px;
  bottom: 31px;
}

@media print, screen and (max-width: 1024px) {
  .l-footer__copyright {
    font-size: 15px;
    line-height: 15px;
    right: 20px;
    bottom: 20px;
  }
}

@media print, screen and (max-width: 599px) {
  .l-footer__copyright {
    font-size: 10px;
    margin-top: 35px;
    position: relative;
    right: 0;
    text-align: center;
  }
}

/* Main
----------------------------------------------------------------- */
/* ==========================================================================
  Object
  ========================================================================== */
/* Component
  ----------------------------------------------------------------- */
/**
  * Button
  *
  * Blah Blah Blah
  */
/**
* Media
*/
/* Project
  ----------------------------------------------------------------- */
.p-home__inner {
  background-image: url("../img/home/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  height: 710px;
  justify-content: center;
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .p-home__inner {
    background-size: 90%;
    height: 600px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-home__inner {
    height: 387px;
    background-size: 80%;
  }
}

.p-home__logo {
  color: #0B3661;
  display: flex;
  flex-direction: column;
  font: normal normal 900 100px/120px Cooper Std;
  margin-top: 200px;
  text-align: center;
  width: 648px;
}

@media print, screen and (max-width: 1024px) {
  .p-home__logo {
    font-size: 60px;
    line-height: 80px;
    margin-top: 250px;
  }
}

@media print, screen and (max-width: 1024px) {
  .p-home__logo {
    margin-top: 200px;
  }
}

@media print, screen and (max-width: 700px) {
  .p-home__logo {
    font-size: 45px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-home__logo {
    margin-top: 140px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media print, screen and (max-width: 413px) {
  .p-home__logo {
    margin-top: 159px;
    font-size: 25px;
    line-height: 30px;
  }
}

.p-service__inner {
  background-color: #BDE5CD65;
  height: 959px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media print, screen and (max-width: 1024px) {
  .p-service__inner {
    height: 700px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service__inner {
    height: 702px;
  }
}

.p-service__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-service__title {
    margin-top: 65px;
    font: normal normal 900 40px/55px Cooper Std;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service__title {
    margin-top: 30px;
    font: normal normal 900 20px/20px Cooper Std;
  }
}

.p-service__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-service__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service__subtitle {
    font-size: 16px;
    line-height: 40px;
  }
}

.p-service-block__heading {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
}

@media print, screen and (max-width: 1024px) {
  .p-service-block__heading {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service-block__heading {
    font-size: 16px;
    line-height: 40px;
  }
}

.p-service-block__text {
  font-family: Gen Jyuu Gothic P;
  font-size: 27px;
  line-height: 40px;
}

@media print, screen and (max-width: 1024px) {
  .p-service-block__text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service-block__text {
    font-size: 13px;
    line-height: 20px;
  }
}

.p-service-block--left {
  background-color: #fff;
  height: 242px;
  position: absolute;
  top: 262px;
  left: 0;
  width: 78%;
}

@media print, screen and (max-width: 1400px) {
  .p-service-block--left {
    width: 100%;
    text-align: center;
  }
}

@media print, screen and (max-width: 1024px) {
  .p-service-block--left {
    top: 200px;
    height: 180px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service-block--left {
    border-radius: 50%;
    height: 284px;
    margin: auto;
    right: 0;
    top: 105px;
    width: 284px;
  }
}

.p-service-block__inner--left {
  margin-left: 18%;
  width: 100%;
}

@media print, screen and (max-width: 1400px) {
  .p-service-block__inner--left {
    margin: 0 auto;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service-block__inner--left {
    width: 190px;
  }
}

.p-service-block__inner--left .p-service-block__heading {
  margin-top: 20px;
}

@media print, screen and (max-width: 599px) {
  .p-service-block__inner--left .p-service-block__heading {
    margin-top: 30px;
  }
}

.p-service-block__inner--left .p-service-block__text {
  margin-top: 20px;
}

@media print, screen and (max-width: 599px) {
  .p-service-block__inner--left .p-service-block__text {
    margin-top: 44px;
  }
}

.p-service-block--right {
  background-color: #fff;
  bottom: 92px;
  height: 242px;
  right: 0;
  position: absolute;
  width: 78%;
}

@media print, screen and (max-width: 1400px) {
  .p-service-block--right {
    width: 100%;
    text-align: center;
  }
}

@media print, screen and (max-width: 1024px) {
  .p-service-block--right {
    bottom: 90px;
    height: 180px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service-block--right {
    border-radius: 50%;
    bottom: 15px;
    height: 284px;
    margin: auto;
    left: 0;
    width: 284px;
  }
}

.p-service-block__inner--right {
  margin-left: 24%;
  width: 100%;
}

@media print, screen and (max-width: 1400px) {
  .p-service-block__inner--right {
    margin-left: 0;
  }
}

@media print, screen and (max-width: 599px) {
  .p-service-block__inner--right {
    margin: 0 auto;
    width: 203px;
  }
}

.p-service-block__inner--right .p-service-block__heading {
  margin-top: 20px;
}

@media print, screen and (max-width: 599px) {
  .p-service-block__inner--right .p-service-block__heading {
    margin-top: 30px;
  }
}

.p-service-block__inner--right .p-service-block__text {
  margin-top: 20px;
}

@media print, screen and (max-width: 599px) {
  .p-service-block__inner--right .p-service-block__text {
    margin-top: 26px;
  }
}

.p-work__inner {
  background-color: #fff;
  height: 959px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .p-work__inner {
    height: 700px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-work__inner {
    height: 789px;
  }
}

.p-work__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-work__title {
    margin-top: 65px;
    font: normal normal 900 40px/55px Cooper Std;
  }
}

@media print, screen and (max-width: 599px) {
  .p-work__title {
    margin-top: 30px;
    font: normal normal 900 20px/20px Cooper Std;
  }
}

.p-work__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-work__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-work__subtitle {
    font-size: 16px;
    line-height: 40px;
  }
}

.p-work-panel__block {
  display: flex;
  margin: 86px auto 0;
  width: 80%;
}

@media print, screen and (max-width: 599px) {
  .p-work-panel__block {
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }
}

.p-work-panel__item {
  margin: 0 17px;
}

@media print, screen and (max-width: 1024px) {
  .p-work-panel__item {
    width: 243px;
    margin-top: 31px;
  }
}

.p-work-panel__main-img {
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .p-work-panel__main-img img {
    width: 243px;
  }
}

.p-work-panel__header {
  font-family: Gen Jyuu Gothic P;
  font-family: nomal;
  font-size: 25px;
  line-height: 25px;
  margin-top: 24px;
}

@media print, screen and (max-width: 1024px) {
  .p-work-panel__header {
    font-size: 18px;
    line-height: 25px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-work-panel__header {
    font-size: 13px;
    line-height: 20px;
    margin-top: 18px;
  }
}

.p-work-panel__text {
  font-family: Gen Jyuu Gothic P;
  font-family: nomal;
  font-size: 25px;
  line-height: 25px;
}

@media print, screen and (max-width: 1024px) {
  .p-work-panel__text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-work-panel__text {
    font-size: 13px;
    line-height: 20px;
  }
}

.p-about__inner {
  background-color: #BDE5CD65;
  height: 670px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media print, screen and (max-width: 1024px) {
  .p-about__inner {
    height: 700px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-about__inner {
    height: 466px;
  }
}

.p-about__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-about__title {
    margin-top: 65px;
    font: normal normal 900 40px/55px Cooper Std;
  }
}

@media print, screen and (max-width: 599px) {
  .p-about__title {
    margin-top: 30px;
    font: normal normal 900 20px/20px Cooper Std;
  }
}

.p-about-block {
  display: flex;
  margin: 74px auto 0;
  width: 65%;
}

@media print, screen and (max-width: 599px) {
  .p-about-block {
    flex-direction: column;
    text-align: center;
  }
}

@media print, screen and (max-width: 599px) {
  .p-about-block {
    margin-top: 30px;
  }
}

.p-about-block__content {
  flex-grow: 2;
  margin-left: 25px;
}

@media print, screen and (max-width: 599px) {
  .p-about-block__content {
    margin-left: 0;
  }
}

.p-about-block__header {
  border-bottom: 1px solid;
  border-color: #707070;
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
}

@media print, screen and (max-width: 1024px) {
  .p-about-block__header {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-about-block__header {
    font-size: 16px;
    line-height: 40px;
    margin-top: 29px;
  }
}

.p-about-block__text {
  font-family: Gen Jyuu Gothic P;
  font-size: 27px;
  line-height: 40px;
  margin-top: 42px;
}

@media print, screen and (max-width: 1024px) {
  .p-about-block__text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-about-block__text {
    font-size: 13px;
    line-height: 20px;
    margin-top: 30px;
  }
}

@media print, screen and (max-width: 1024px) {
  .p-about-block__img img {
    width: 180px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-about-block__img img {
    width: 164px;
  }
}

.p-skills__inner {
  height: 1183px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media print, screen and (max-width: 1024px) {
  .p-skills__inner {
    height: 970px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-skills__inner {
    height: 761px;
  }
}

.p-skills__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-skills__title {
    margin-top: 65px;
    font: normal normal 900 40px/55px Cooper Std;
  }
}

@media print, screen and (max-width: 599px) {
  .p-skills__title {
    margin-top: 30px;
    font: normal normal 900 20px/20px Cooper Std;
  }
}

.p-skills__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-skills__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-skills__subtitle {
    font-size: 16px;
    line-height: 40px;
  }
}

.p-skills-block__inner {
  column-gap: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 197px auto 0;
  width: 76%;
}

@media print, screen and (max-width: 1400px) {
  .p-skills-block__inner {
    width: 90%;
  }
}

@media print, screen and (max-width: 1024px) {
  .p-skills-block__inner {
    column-gap: 3%;
    margin: 50px auto 0;
    width: 98%;
  }
}

@media print, screen and (max-width: 599px) {
  .p-skills-block__inner {
    grid-template-columns: 1fr;
    margin: 10px auto 0;
    width: 90%;
  }
}

.p-skills-block__item {
  display: flex;
  margin-bottom: 64px;
}

@media print, screen and (max-width: 599px) {
  .p-skills-block__item {
    margin-bottom: 20px;
  }
}

.p-skills-block__img {
  margin-right: 23px;
}

@media print, screen and (max-width: 1024px) {
  .p-skills-block__img img {
    width: 80px;
  }
}

.p-skills-block__header {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
}

@media print, screen and (max-width: 1024px) {
  .p-skills-block__header {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-skills-block__header {
    font-size: 13px;
    line-height: 20px;
  }
}

.p-skills-block__text {
  font-family: Gen Jyuu Gothic P;
  font-size: 25px;
  line-height: 25px;
}

@media print, screen and (max-width: 1024px) {
  .p-skills-block__text {
    font-size: 18px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-skills-block__text {
    font-size: 13px;
    line-height: 20px;
  }
}

.p-contact {
  background-color: #BDE5CD65;
  height: 1138px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media print, screen and (max-width: 1024px) {
  .p-contact {
    height: 900px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact {
    height: 601px;
  }
}

.p-contact__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-contact__title {
    margin-top: 65px;
    font: normal normal 900 40px/55px Cooper Std;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact__title {
    margin-top: 30px;
    font: normal normal 900 20px/20px Cooper Std;
  }
}

.p-contact__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

@media print, screen and (max-width: 1024px) {
  .p-contact__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact__subtitle {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.p-contact__subtitle br:nth-child(2) {
  display: none;
}

@media print, screen and (max-width: 599px) {
  .p-contact__subtitle br:nth-child(2) {
    display: inline;
  }
}

.p-contact-form {
  margin: 56px auto 0;
  width: 56%;
}

@media print, screen and (max-width: 599px) {
  .p-contact-form {
    margin: 10px auto 0;
    width: 86%;
  }
}

.p-contact-from__name {
  margin-bottom: 25px;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__name {
    margin-bottom: 12px;
  }
}

.p-contact-from__label {
  display: block;
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 8px;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__label {
    font-size: 25px;
    line-height: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact-from__label {
    font-size: 13px;
    line-height: 20px;
  }
}

.p-contact-from__input-name {
  border: 1px solid #0B3661;
  font-size: 35px;
  height: 63px;
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__input-name {
    font-size: 25px;
    height: 35px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact-from__input-name {
    font-size: 15px;
    height: 25px;
  }
}

.p-contact-form__email {
  margin-bottom: 25px;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-form__email {
    margin-bottom: 12px;
  }
}

.p-contact-from__input-email {
  border: 1px solid #0B3661;
  font-size: 35px;
  height: 63px;
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__input-email {
    font-size: 25px;
    height: 35px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact-from__input-email {
    font-size: 15px;
    height: 25px;
  }
}

.p-contact-from__message {
  margin-bottom: 65px;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__message {
    margin-bottom: 30px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact-from__message {
    margin-bottom: 12px;
  }
}

.p-contact-from__input-message {
  border: 1px solid #0B3661;
  font-size: 35px;
  height: 303px;
  width: 100%;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__input-message {
    font-size: 25px;
    height: 250px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact-from__input-message {
    font-size: 15px;
    height: 178px;
  }
}

.p-contact-from__btn {
  background-color: #0B3661;
  color: #fff;
  display: block;
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  height: 73px;
  line-height: 40px;
  margin: 0 auto;
  width: 329px;
}

@media print, screen and (max-width: 1024px) {
  .p-contact-from__btn {
    font-size: 25px;
    height: 50px;
    width: 250px;
  }
}

@media print, screen and (max-width: 599px) {
  .p-contact-from__btn {
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    width: 100%;
  }
}

/* Utility
  ----------------------------------------------------------------- */
/**
* Clearfix
*/
/**
  * Display
*/
/**
  * Margin
*/
