/* ==========================================================================
Foundation
========================================================================== */
@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: url(/fonts/GenJyuuGothic-Medium.ttf);
}

/* ==========================================================================
  Layout
  ========================================================================== */

/* Header
----------------------------------------------------------------- */
.l-header {
  width: 100%;
}

.l-header__inner {
  align-items: center;
  background-color: #0b3661;
  display: flex;
  height: 154px;
  justify-content: space-between;
  width: 100%;
  @include tabletScreen {
    height: 100px;
  }
  @include wideMobileScreen {
    height: 63px;
  }
}

.l-header__logo {
  color: #fff;
  font: normal normal 900 70px/70px 'Cooper Std', sans-serif;
  margin-left: 3.2%;
  @include adjustContentMedia(1730px){
    font-size: 55px;
    line-height: 55px;
  }
  @include adjustContentMedia(1350px){
    font-size: 45px;
    line-height: 45px;
  }
  @include tabletScreen {
    font-size: 35px;
    line-height: 35px;
  }
  @include wideMobileScreen {
    font-size: 25px;
    line-height: 25px;
  }
}


.l-header__nav {
  margin-right: 52px;
  @include adjustContentMedia(1350px){
    margin-right: 40px;
  }
  @include tabletScreen {
    display: none;
  }
}

.l-header__main {
  display: flex;
}

.l-header__main-item {
  font: normal normal 900 35px/35px Cooper Std;
  a {
    text-decoration: none;
    color: #fff;
  }
  @include adjustContentMedia(1730px){
    font-size: 25px;
    line-height: 25px;
  }
  @include adjustContentMedia(1350px){
    font-size: 20px;
    line-height: 20px;
  }
}
.l-header__main-item:not(:last-child){
  margin-right: 50px;
  @include adjustContentMedia(1350px){
    margin-right: 25px;
  }
}

.l-header_button {
  height: 23px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  margin-right: 40px;
  position: relative;
  transition: all .5s;
  width: 50px;
  @include tabletScreen {
    display: inline-block;
  }
  @include wideMobileScreen {
    margin-right: 20px;
    width: 25px;
  }
  span {
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    height: 4px;
    left: 0;
    position: absolute;
    transition: all .5s;
    width: 100%;
    @include wideMobileScreen {
      border-radius: 2px;
      height: 2px;
    }
  }
  span:nth-of-type(2) {
    top: 10px;
  }
  span:nth-of-type(3) {
    bottom: 0;
  }
}

.l-footer {
  width: 100%;
}

.l-footer__inner{
  background-color: #0b3661;
  height: 216px;
  position: relative;
}

.l-footer__nav {
  display: flex;
  justify-content: center;
}

.l-footer__list {
  color: #fff;
  display: flex;
  list-style: none;
  margin-top: 97px;
}

.l-footer__list-item {
  font: normal normal 900 25px/25px Cooper Std;
  margin: 0 36px;
}

.l-footer__copyright {
  color: #fff;
  font: normal normal 900 25px/25px Cooper Std;
  position: absolute;
  right: 45px;
  bottom: 31px;
}

/* Main
----------------------------------------------------------------- */

/* ==========================================================================
  Object
  ========================================================================== */

/* Component
  ----------------------------------------------------------------- */

/**
  * Button
  *
  * Blah Blah Blah
  */


/**
* Media
*/

/* Project
  ----------------------------------------------------------------- */
.p-home__inner {
  background-image   : url("../img/home/home.jpg");
  background-position: center;
  background-repeat  : no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  height: 710px;
  justify-content: center;
  width: 100%;
  @include tabletScreen {
    background-size: 90%;
    height: 600px;
  }
  @include wideMobileScreen {
    height: 387px;
    background-size: 80%;
  }

}

.p-home__logo {
  color: #0B3661;
  display: flex;
  flex-direction: column;
  font: normal normal 900 100px/120px Cooper Std;
  margin-top: 200px;
  text-align: center;
  width: 648px;
  @include tabletScreen {
    font-size: 60px;
    line-height: 80px;
    margin-top: 250px;
  }
  @include tabletScreen {
    margin-top: 200px;
  }
  @include adjustContentMedia(700px) {
    font-size: 45px
  }
  @include wideMobileScreen {
    margin-top: 140px;
    font-size: 30px;
    line-height: 40px;
  }
  @include mobileScreen {
    margin-top: 159px;
    font-size: 25px;
    line-height: 30px;
  }
}

.p-service__inner {
  background-color: #BDE5CD65;
  height: 959px;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include tabletScreen {
    height: 700px;
  }
  @include wideMobileScreen {
    height: 702px;
  }
}

.p-service__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
  @include tabletScreen {
    margin-top: 65px;
    font: normal normal 900 40px/55px Cooper Std;
  }
  @include wideMobileScreen {
    margin-top: 30px;
    font: normal normal 900 20px/20px Cooper Std;
  }
}

.p-service__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  @include tabletScreen {
    font-size: 25px;
    line-height: 30px;
  }
  @include wideMobileScreen {
    font-size: 16px;
    line-height: 40px;
  }
}

.p-service-block__heading {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  @include tabletScreen {
    font-size: 25px;
    line-height: 30px;
  }
  @include wideMobileScreen {
    font-size: 16px;
    line-height: 40px;
  }
}

.p-service-block__text {
  font-family: Gen Jyuu Gothic P;
  font-size: 27px;
  line-height: 40px;
  @include tabletScreen {
    font-size: 18px;
    line-height: 25px;
  }
  @include wideMobileScreen {
    font-size: 13px;
    line-height: 20px;
  }
}

.p-service-block--left {
  background-color: #fff;
  height: 242px;
  position: absolute;
  top: 262px;
  left: 0;
  width: 78%;
  @include adjustContentMedia(1400px){
    width: 100%;
    text-align: center;
  }
  @include tabletScreen {
    top: 200px;
    height: 180px;
  }
  @include wideMobileScreen {
    border-radius: 50%;
    height: 284px;
    margin: auto;
    right: 0;
    top: 105px;
    width: 284px;
  }
}

.p-service-block__inner--left {
  margin-left: 18%;
  width: 100%;
  @include adjustContentMedia(1400px){
    margin: 0 auto;
  }
  @include wideMobileScreen {
    width: 190px;    
  }
  .p-service-block__heading {
    margin-top: 20px;
    @include wideMobileScreen {
      margin-top: 30px;
    }
  }
  .p-service-block__text {
    margin-top: 20px;
    @include wideMobileScreen {
      margin-top: 44px;
    }
  }
}

.p-service-block--right {
  background-color: #fff;
  bottom: 92px;
  height: 242px;
  right: 0;
  position: absolute;
  width: 78%;
  @include adjustContentMedia(1400px){
    width: 100%;
    text-align: center;
  }
  @include tabletScreen {
    bottom: 90px;
    height: 180px;
  }
  @include wideMobileScreen {
    border-radius: 50%;
    bottom: 15px;
    height: 284px;
    margin: auto;
    left: 0;
    width: 284px;
  }
}

.p-service-block__inner--right {
  margin-left: 24%;
  width: 100%;
  @include adjustContentMedia(1400px){
    margin-left: 0;
  }
  @include wideMobileScreen {
    margin: 0 auto;
    width: 203px
  }
  .p-service-block__heading {
    margin-top: 20px;
    @include wideMobileScreen {
      margin-top: 30px;
    }
  }
  .p-service-block__text {
    margin-top: 20px;
    @include wideMobileScreen {
      margin-top: 26px;
    }
  }
}

.p-work__inner {
  background-color: #fff;
  height: 959px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.p-work__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

.p-work__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.p-work-panel__block {
  display: flex;
  margin: 86px auto 0;
  width: 80%;
}

.p-work-panel__item {
  margin: 0 17px;
}

.p-work-panel__header{
  font-family: Gen Jyuu Gothic P;
  font-family: nomal;
  font-size: 25px;
  line-height: 25px;
  margin-top: 24px;
}

.p-work-panel__text {
  font-family: Gen Jyuu Gothic P;
  font-family: nomal;
  font-size: 25px;
  line-height: 25px;
}

.p-about__inner {
  background-color: #BDE5CD65;
  height: 670px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.p-about__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

.p-about-block {
  display: flex;
  margin: 74px auto 0;
  width: 65%;
}

.p-about-block__content {
  flex-grow: 2;
  margin-left: 25px;
}

.p-about-block__header {
  border-bottom: 1px solid;
  border-color: #707070;
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
}

.p-about-block__text {
  font-family: Gen Jyuu Gothic P;
  font-size: 27px;
  line-height: 40px;
  margin-top: 42px;
}

.p-skills__inner {
  height: 1183px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.p-skills__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

.p-skills__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.p-skills-block__inner {
  column-gap: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 197px auto 0;
  width: 76%;
}

.p-skills-block__item {
  display: flex;
  margin-bottom: 64px;
}

.p-skills-block__img {
  margin-right: 23px;
}

.p-skills-block__header {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
}

.p-skills-block__text {
  font-family: Gen Jyuu Gothic P;
  font-size: 25px;
  line-height: 25px;
}

.p-contact {
  background-color: #BDE5CD65;
  height: 1138px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.p-contact__title {
  font: normal normal 900 55px/70px Cooper Std;
  margin-top: 81px;
  text-align: center;
}

.p-contact__subtitle {
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.p-contact-form {
  margin: 56px auto 0;
  width: 56%;
}

.p-contact-from__name {
  margin-bottom: 25px;
}

.p-contact-from__label {
  display: block;
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 8px;
}

.p-contact-from__input-name {
  border: 1px solid #0B3661;
  font-size: 35px;
  height: 63px;
  width: 100%;
}

.p-contact-form__email {
  margin-bottom: 25px;
}

.p-contact-from__input-email {
  border: 1px solid #0B3661;
  font-size: 35px;
  height: 63px;
  width: 100%;
}

.p-contact-from__message {
  margin-bottom: 65px;
}

.p-contact-from__input-message {
  border: 1px solid #0B3661;
  font-size: 35px;
  height: 303px;
  width: 100%;
}

.p-contact-from__btn {
  background-color: #0B3661;
  color: #fff;
  display: block;
  font-family: Gen Jyuu Gothic P;
  font-size: 35px;
  height: 73px;
  line-height: 40px;
  margin: 0 auto;
  width: 329px;
}

/* Utility
  ----------------------------------------------------------------- */

/**
* Clearfix
*/

/**
  * Display
*/

/**
  * Margin
*/
